body {
	color: white;
	background-image: url("tausta.jpg");
	background: green;

	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: yellow;
}

img {
width : 50%;
height: 50%;
}
