body {
	background-image: url("tausta.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: yellow;
}

p {
	color: white;
}

img {
width : 50%;
height: 50%;
}
