body {
	background: #7daaff;
	background-image: url("tausta2.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: yellow;
}

h2 {
	color: white;
}

p {
	color: white;
}

a {
	color:white;
}

img {
	width : 50%;
	height: 50%;
}
